/* [THE LOADING SPINNER] */
#spinner-front, #spinner-back{
  position: fixed;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  transition: all 1s;
}
#spinner-front{
  z-index: 999;
  margin-top: 45vh;
  color: #fff;
  text-align: center;
}
#spinner-back{
  z-index: 9000;
  height: 100vh;
  background: #000;
}
#spinner-front.show{
  z-index: 999999;
  visibility: visible;
  opacity: 1;
}
#spinner-back.show{
  visibility: visible;
  opacity: 0.7;
}

/* [DUMMY PAGE STYLES - YOU CAN IGNORE THESE] */
html, body{
  font-family: arial;
  padding: 0;
  margin: 0;
}
#page-header{
  padding: 10px;
  background: #ffdddd;
}
#page-body{
  padding: 15px;
}
#page-footer{
  padding: 10px;
  background: #edf9d9;
}