﻿/*

Original style FROM bb_softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

pre code {
  display: block; padding: 0.5em;
  background: white; color: black;
}

pre .string,
pre .tag .value,
pre .filter .argument,
pre .addition,
pre .change,
pre .apache .tag,
pre .apache .cbracket,
pre .nginx .built_in,
pre .tex .formula {
  color: #888;
}

pre .comment,
pre .template_comment,
pre .shebang,
pre .doctype,
pre .pi,
pre .javadoc,
pre .deletion,
pre .apache .sqbracket {
  color: #CCC;
}

pre .keyword,
pre .tag .title,
pre .ini .title,
pre .lisp .title,
pre .http .title,
pre .nginx .title,
pre .css .tag,
pre .winutils,
pre .flow,
pre .apache .tag,
pre .tex .command,
pre .request,
pre .status {
  font-weight: bold;
}
